<%- include("header") -%>




<h2>Hello Konnichiwa!
</h2>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quos impedit exercitationem fuga ab non labore soluta culpa! Molestias, nemo numquam</p> <p>quia distinctio, omnis iste iure similique quasi voluptatum, ut commodi consectetur veniam illum deleniti et doloremque facilis officiis sequi optio blanditiis molestiae culpa exercitationem. Eveniet delectus eum quisquam iure!</p>





<%- include("footer") -%>
